<div *ngIf="screenSize['screen-large'] === true">
  <!--跑马灯-->
  <div class="content-block">
    <div style="height: 350px;background: yellowgreen">
      <dx-gallery
        [dataSource]="dataSource"
        [height]="350"
        [slideshowDelay]="slideShowDelay"
        [loop]="true"
        [showNavButtons]="true"
        [showIndicator]="true"
      ></dx-gallery>
    </div>
  </div>

  <!--要闻-->
  <div class="content-block">
    <div style="height: 460px;"
         gdRows="1fr" gdColumns="1fr 1fr" gdGap="20px">
      <div gdRow="1" gdColumn="1">
        <app-my-box uiType="left" title="财大要闻">
          <app-my-base-list fxFill [listData]="newsList"></app-my-base-list>
        </app-my-box>
      </div>
      <div gdRow="1" gdColumn="2">
        <app-my-box uiType="left" title="通知公告">
          <app-my-base-list fxFill [listData]="msgList"></app-my-base-list>
        </app-my-box>
      </div>
    </div>
  </div>

  <div class="content-block">
    <div style="height: 350px;background: yellowgreen">
      <dx-gallery
        [dataSource]="dataSource"
        [height]="350"
        [slideshowDelay]="slideShowDelay"
        [loop]="true"
        [showNavButtons]="true"
        [showIndicator]="true"
      ></dx-gallery>
    </div>
  </div>

  <div class="content-block">
    <div style="height: 460px;"
         gdRows="1fr" gdColumns="1fr 1fr 1fr" gdGap="20px">
      <div gdRow="1" gdColumn="1">
        <app-my-box uiType="left" title="财大要闻">
          <app-my-base-list fxFill [listData]="newsList"></app-my-base-list>
        </app-my-box>
      </div>
      <div gdRow="1" gdColumn="2">
        <app-my-box title="通知公告">
          <app-my-base-list fxFill [listData]="msgList"></app-my-base-list>
        </app-my-box>
      </div>
      <div gdRow="1" gdColumn="3">
        <app-my-box title="通知公告">
          <app-my-base-list fxFill [listData]="msgList"></app-my-base-list>
        </app-my-box>
      </div>
    </div>
  </div>

  <div class="content-block">
    <div style="height: 460px;"
         gdRows="1fr" gdColumns="1fr 1fr" gdGap="20px">
      <div gdRow="1" gdColumn="1">
        <app-my-box title="财大要闻">
          <app-my-base-list fxFill [listData]="newsList"></app-my-base-list>
        </app-my-box>
      </div>
      <div gdRow="1" gdColumn="2">
        <app-my-box title="通知公告">
          <app-my-base-list fxFill [listData]="msgList"></app-my-base-list>
        </app-my-box>
      </div>
    </div>
  </div>

  <div class="content-block">
    <div style="height:200px;background: #476d9e"></div>
  </div>
</div>

<!--screen-x-small-->
<div *ngIf="screenSize['screen-x-small'] === true">
  <!--跑马灯-->
  <div class="content-block">
    <div style="height: 115px;background: yellowgreen">
      <dx-gallery fxFill
                  [dataSource]="dataSource"
                  [height]="115"
                  [slideshowDelay]="slideShowDelay"
                  [loop]="true"
                  [showNavButtons]="true"
                  [showIndicator]="true"
      ></dx-gallery>
    </div>
  </div>

  <!--要闻-->
  <div class="content-block">
    <div style="height: 460px;">
      <app-my-box title="财大要闻">
        <app-my-base-list fxFill [listData]="newsList"></app-my-base-list>
      </app-my-box>
    </div>
  </div>

  <!--财大要闻-->
  <div class="content-block">
    <div style="height: 460px;">
      <app-my-box title="公告通知">
        <app-my-base-list fxFill [listData]="msgList"></app-my-base-list>
      </app-my-box>
    </div>
  </div>

  <div class="content-block">
    <div style="height: 115px;background: yellowgreen">
      <dx-gallery fxFill
                  [dataSource]="dataSource"
                  [height]="115"
                  [slideshowDelay]="slideShowDelay"
                  [loop]="true"
                  [showNavButtons]="true"
                  [showIndicator]="true"
      ></dx-gallery>
    </div>
  </div>

  <div class="content-block">
    <div style="height: 460px;">
      <app-my-box title="财大要闻">
        <app-my-base-list fxFill [listData]="newsList"></app-my-base-list>
      </app-my-box>
    </div>
  </div>
  <div class="content-block">
    <div style="height: 460px;">
      <app-my-box title="财大要闻">
        <app-my-base-list fxFill [listData]="newsList"></app-my-base-list>
      </app-my-box>
    </div>
  </div>
  <div class="content-block">
    <div style="height: 460px;">
      <app-my-box title="财大要闻">
        <app-my-base-list fxFill [listData]="newsList"></app-my-base-list>
      </app-my-box>
    </div>
  </div>

  <div class="content-block">
    <div style="height: 460px;">
      <app-my-box title="财大要闻">
        <app-my-base-list fxFill [listData]="newsList"></app-my-base-list>
      </app-my-box>
    </div>
  </div>

  <div class="content-block">
    <div style="height: 460px;">
      <app-my-box title="财大要闻">
        <app-my-base-list fxFill [listData]="newsList"></app-my-base-list>
      </app-my-box>
    </div>
  </div>

  <div class="content-block">
    <div style="height:100px;background: #476d9e"></div>
  </div>
</div>

<!--screen-small-->
<div *ngIf="screenSize['screen-small'] === true">
  <!--跑马灯-->
  <div class="content-block">
    <div style="height: 209px;background: yellowgreen">
      <dx-gallery
        [dataSource]="dataSource"
        [height]="209"
        [slideshowDelay]="slideShowDelay"
        [loop]="true"
        [showNavButtons]="true"
        [showIndicator]="true"
      ></dx-gallery>
    </div>
  </div>

  <!--要闻-->
  <div class="content-block">
    <div style="height: 460px;"
         gdRows="1fr" gdColumns="1fr 1fr" gdGap="20px">
      <div gdRow="1" gdColumn="1">
        <app-my-box title="财大要闻">
          <app-my-base-list fxFill [listData]="newsList"></app-my-base-list>
        </app-my-box>
      </div>
      <div gdRow="1" gdColumn="2">
        <app-my-box title="通知公告">
          <app-my-base-list fxFill [listData]="msgList"></app-my-base-list>
        </app-my-box>
      </div>
    </div>
  </div>

  <div class="content-block">
    <div style="height: 209px;background: yellowgreen">
      <dx-gallery
        [dataSource]="dataSource"
        [height]="209"
        [slideshowDelay]="slideShowDelay"
        [loop]="true"
        [showNavButtons]="true"
        [showIndicator]="true"
      ></dx-gallery>
    </div>
  </div>

  <div class="content-block">
    <div style="height: 460px;"
         gdRows="1fr" gdColumns="1fr 1fr 1fr" gdGap="20px">
      <div gdRow="1" gdColumn="1">
        <app-my-box title="财大要闻">
          <app-my-base-list fxFill [listData]="newsList"></app-my-base-list>
        </app-my-box>
      </div>
      <div gdRow="1" gdColumn="2">
        <app-my-box title="通知公告">
          <app-my-base-list fxFill [listData]="msgList"></app-my-base-list>
        </app-my-box>
      </div>
      <div gdRow="1" gdColumn="3">
        <app-my-box title="通知公告">
          <app-my-base-list fxFill [listData]="msgList"></app-my-base-list>
        </app-my-box>
      </div>
    </div>
  </div>

  <div class="content-block">
    <div style="height: 460px;"
         gdRows="1fr" gdColumns="1fr 1fr" gdGap="20px">
      <div gdRow="1" gdColumn="1">
        <app-my-box title="财大要闻">
          <app-my-base-list fxFill [listData]="newsList"></app-my-base-list>
        </app-my-box>
      </div>
      <div gdRow="1" gdColumn="2">
        <app-my-box title="通知公告">
          <app-my-base-list fxFill [listData]="msgList"></app-my-base-list>
        </app-my-box>
      </div>
    </div>
  </div>

  <div class="content-block">
    <div style="height:200px;background: #476d9e"></div>
  </div>
</div>

<!--screen-medium-->
<div *ngIf="screenSize['screen-medium'] === true">
  <!--跑马灯-->
  <div class="content-block">
    <div style="height: 295px;background: yellowgreen">
      <dx-gallery fxFill
                  [dataSource]="dataSource"
                  [height]="295"
                  [slideshowDelay]="slideShowDelay"
                  [loop]="true"
                  [showNavButtons]="true"
                  [showIndicator]="true"
      ></dx-gallery>
    </div>
  </div>

  <!--要闻-->
  <div class="content-block">
    <div style="height: 460px;"
         gdRows="1fr" gdColumns="1fr 1fr" gdGap="20px">
      <div gdRow="1" gdColumn="1">
        <app-my-box title="财大要闻">
          <app-my-base-list fxFill [listData]="newsList"></app-my-base-list>
        </app-my-box>
      </div>
      <div gdRow="1" gdColumn="2">
        <app-my-box title="通知公告">
          <app-my-base-list fxFill [listData]="msgList"></app-my-base-list>
        </app-my-box>
      </div>
    </div>
  </div>

  <div class="content-block">
    <div style="height: 295px;background: yellowgreen">
      <dx-gallery fxFill
                  [dataSource]="dataSource"
                  [height]="295"
                  [slideshowDelay]="slideShowDelay"
                  [loop]="true"
                  [showNavButtons]="true"
                  [showIndicator]="true"
      ></dx-gallery>
    </div>
  </div>

  <div class="content-block">
    <div style="height: 460px;"
         gdRows="1fr" gdColumns="1fr 1fr 1fr" gdGap="20px">
      <div gdRow="1" gdColumn="1">
        <app-my-box title="财大要闻">
          <app-my-base-list fxFill [listData]="newsList"></app-my-base-list>
        </app-my-box>
      </div>
      <div gdRow="1" gdColumn="2">
        <app-my-box title="通知公告">
          <app-my-base-list fxFill [listData]="msgList"></app-my-base-list>
        </app-my-box>
      </div>
      <div gdRow="1" gdColumn="3">
        <app-my-box title="通知公告">
          <app-my-base-list fxFill [listData]="msgList"></app-my-base-list>
        </app-my-box>
      </div>
    </div>
  </div>

  <div class="content-block">
    <div style="height: 460px;"
         gdRows="1fr" gdColumns="1fr 1fr" gdGap="20px">
      <div gdRow="1" gdColumn="1">
        <app-my-box title="财大要闻">
          <app-my-base-list fxFill [listData]="newsList"></app-my-base-list>
        </app-my-box>
      </div>
      <div gdRow="1" gdColumn="2">
        <app-my-box title="通知公告">
          <app-my-base-list fxFill [listData]="msgList"></app-my-base-list>
        </app-my-box>
      </div>
    </div>
  </div>

  <div class="content-block">
    <div style="height:200px;background: #476d9e"></div>
  </div>
</div>
